/* Coolors Exported Palette - coolors.co/5b5a02-ba5818-ea916e-ba6f00-fdfffc */

/* HSL */
$color1: hsla(59%, 96%, 18%, 1);
$color2: hsla(24%, 77%, 41%, 1);
$color3: hsla(17%, 75%, 67%, 1);
$color4: hsla(36%, 100%, 36%, 1);
$color5: hsla(100%, 100%, 99%, 1);

/* RGB */
$color1: rgba(91, 90, 2, 1);
$color2: rgba(186, 88, 24, 1);
$color3: rgba(234, 145, 110, 1);
$color4: rgba(186, 111, 0, 1);
$color5: rgba(253, 255, 252, 1);